.card-title {
    margin-bottom: 60px;

    h2 {
        font-size: 28px;
        font-weight: normal;
    }
}

.card-products {
    display  : flex;
    flex-wrap: wrap;

    .card-product {
        width: 24%;

        &:not(:last-child) {
            margin-right: 10px;
        }

        margin-bottom: 20px;
    }



    .card-top {
        box-shadow    : $box-shadow;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        padding       : 50px 20px 30px;
        position      : relative;
        background    : $white;
        text-align: center;

        .add-to-favorites {
            position: absolute;
            top     : 10px;
            right   : 15px;

            i {
                font-size: 20px;
                color    : #E6A736;
                display  : flex;
            }
        }

        &__logo {
            border         : 1px solid $border;
            display        : flex;
            align-items    : center;
            justify-content: center;
            padding        : 10px;
            width          : 150px;
            height         : 150px;

            img {
                max-width : 120px;
                height    : 120px;
                object-fit: contain;
            }
        }

        &__title {
            font-size: 24px;
            margin   : 20px 0;
        }
    }

    .card-bottom {
        background: $second-color;

        &>* {
            padding   : 15px 20px;
            text-align: center;
            color     : $text-light;
        }

        &__bonus {
            font-size: 24px;

            span {
                color: $main-color;
            }
        }

        &__info {
            padding-top   : 5px;
            padding-bottom: 5px;

            border-top   : 1px solid lighten($color: $second-color, $amount: 5%);
            border-bottom: 1px solid lighten($color: $second-color, $amount: 5%);

            .line {
                display        : flex;
                justify-content: space-between;
                padding        : 5px 0;
                font-size: 18px;
            }
        }

        &__play {
            color: $main-color;
            font-size: 18px;
        }

        &__goto {
            background: $main-color;
            font-size: 18px;
        }
    }
}