.promotion-block {
    padding         : 60px 0;
    background-size: cover;
    background-color: $second-color;

    .promotion-content {
        display    : flex;
        align-items: center;

        .promo-left {
            flex: 0 0 50%;

            .promo-subtitle {
                text-transform: uppercase;
                color         : $main-color;
                letter-spacing: 5px;
            }

            .promo-title {
                font-size: 36px;
                color    : $text-light;
            }

            .star-rating {
                margin: 35px 0;
            }

            .promo-text {
                font-size: 18px;
                margin: 0;
                color : $text-light;
                font-weight: 300;
                line-height: 32px;
            }
        }

        .promo-right {
            flex           : 0 0 50%;
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            .promo-button {
                a {
                    color     : $text-light;
                    background: $main-color;
                    padding   : 20px 80px;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
    }
}