.which-one-block {
    .container {
        max-width: 800px;
    }

    .which-one-text {
        text-align: center;

        h3 {
            font-size: 28px;
        }

        p {
            font-size  : 18px;
            font-weight: 300;
            margin     : 30px 0;
        }
    }

    .which-one-products {
        display        : flex;
        justify-content: space-between;

        .which-one-product {
            flex: 0 0 48%;

            .which-one-top {
                padding         : 30px;
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                background-color: #646b9d;

                .which-one-title {
                    font-size: 24px;
                    margin   : 20px 0;
                }

                .which-one-img {
                    background-color: #fff;
                    width           : 150px;
                    height          : 150px;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;

                    img {
                        max-width    : 120px;
                        height       : 120px;
                        -o-object-fit: contain;
                        object-fit   : contain;
                    }
                }
            }

            .which-one-bottom {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: center;
                box-shadow     : $box-shadow;

                .which-one-bonus {
                    font-size    : 24px;
                    width        : 100%;
                    text-align   : center;
                    padding      : 15px 80px;
                    border-bottom: 1px solid $border;

                    span {
                        color: $main-color;
                    }
                }

                .which-one-features {
                    border-bottom: 1px solid $border;
                    padding      : 15px 20px;
                    width        : 100%;
                    font-size    : 18px;
                    font-weight  : 300;

                    .which-one-plus,
                    .which-one-minus {
                        margin-bottom: 5px;
                        display      : flex;
                        align-items  : center;
                    }

                    .plus-sign,
                    .minus-sign {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        width          : 30px;
                        height         : 30px;
                        margin-right   : 20px;
                        border-radius  : 50%;
                        font-size      : 24px;
                        font-weight    : bold;
                        color          : $text-light
                    }

                    .plus-sign {
                        background-color: $upvote;
                    }

                    .minus-sign {
                        background-color: $downvote;
                    }

                }

                .which-one-write-review {
                    color     : $main-color;
                    width     : 100%;
                    text-align: center;
                    font-size : 18px;
                    padding   : 15px 20px;
                }

                .which-one-profile {
                    background-color: $main-color;
                    color           : $text-light;
                    width           : 100%;
                    text-align      : center;
                    font-size       : 18px;
                    padding         : 15px 20px;
                }
            }
        }
    }
}