.content-block {
    // margin: 50px 0;

    .star-rating {
        display    : flex;
        align-items: center;

        i {
            font-size   : 24px;
            margin-right: 3px;
            color       : $main-color;
        }

        .empty-star {
            color: #efefef;
        }
    }
}