.newsletter {
    background: $main-color;
    color     : $text-light;
    padding   : 100px 0;

    .newsletter-form {
        width: 60%;

        .mc4wp-form input[type="email"] {
            width       : 70%;
            border      : none;
            margin-right: 5px;
            padding     : 20px;
            font-size   : 18px;
            outline: none;

            &::placeholder {
                color: $text-semilight;
                font-weight: 300;
            }
        }

        .mc4wp-form input[type="submit"] {
            width           : 29%;
            border          : none;
            padding         : 20px 0;
            background-color: $second-color;
            color           : $text-light;
            font-size       : 18px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .newsletter-wrap {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .newsletter-title {
            font-size: 32px;
        }
    }
}