.top-products-block {

    .top-products-title {
        padding   : 35px 0;
        // box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .05);

        h2 {
            font-size: 28px;
            font-weight: normal;
        }
    }

}

.top10-single {
    padding: 20px 0;

    &:not(:last-child) {
        // box-shadow: 0 1px 8px -2px rgba(0, 0, 0, .05);
    }

    .top10-single-inner {
        display        : flex;
        flex-wrap      : wrap;
        align-items    : center;
        justify-content: space-between;

        .top10-image {
            border         : 1px solid #f3f3f3;
            display        : flex;
            align-items    : center;
            justify-content: center;
            padding        : 10px;
            width          : 150px;
            height         : 140px;

            img {
                max-width : 120px;
                height    : 120px;
                object-fit: contain;
            }
        }

        .top10-options {

            .options-upper {
                display      : flex;
                align-items  : center;
                margin-bottom: 15px;

                .top10-title {
                    font-size: 24px;
                }

                .add-to-favorites {
                    margin: 0 15px;

                    i {
                        font-size: 20px;
                        color    : $main-color;
                        display  : flex;
                    }
                }

                .top10-site {
                    color    : lighten($color: $text-dark, $amount: 25%);
                    font-size: 18px;
                }
            }

            .options-lower {
                display: flex;

                .star-rating {
                    margin-right: 30px;
                }

                .user-rating {
                    display    : flex;
                    align-items: center;
                    color      : $white;

                    .like {
                        background     : $upvote;
                        padding        : 5px;
                        border-radius  : 50px;
                        width          : 70px;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        margin-right   : 10px;
                        font-size      : 14px;
                        font-weight    : 300;

                        i {
                            font-size   : 12px;
                            margin-right: 5px;
                        }
                    }

                    .dislike {
                        background     : $downvote;
                        padding        : 5px;
                        border-radius  : 50px;
                        width          : 70px;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        font-size      : 14px;
                        font-weight    : 300;

                        i {
                            font-size   : 12px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .top10-selling-point {
            font-size  : 24px;
            max-width  : 280px;
            line-height: 36px;

            span {
                color: $main-color;
            }
        }

        .top10-nav {
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: center;

            .go-to-profile {
                color           : $text-light;
                background-color: $main-color;
                padding         : 10px 50px;
                font-weight: normal;
                font-size: 20px;
            }

            .read-review {
                font-weight: 400;
                font-size: 18px;
            }
        }

        .top10-learn-more {
            flex      : 0 0 100%;
            color     : $main-color;
            margin-top: 15px;

            span {
                font-size: 18px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .top10-learn-more-block {
            flex   : 0 0 100%;
            display: none;
            font-size: 18px;
        }
    }
}