// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Futura PT',
sans-serif !default;

/// Copy text color
/// @type Color
$text-dark: rgb(34, 34, 34) !default;

/// Copy text color
/// @type Color
$text-light: rgb(255, 255, 255) !default;

/// Copy text color
/// @type Color
$text-semilight: rgb(200, 200, 200) !default;

/// Main brand colors
/// @type Color
$main-color   :#E7A736 !default;
$second-color : #122946 !default;

$upvote   : #56B167 !default;
$downvote : #EB5A4B !default;

$border : #f3f3f3 !default;

/// Box Shadow
/// @type Color
$box-shadow : 0 1px 8px 0 rgba(0, 0, 0, .1);

/// White
/// @type Colors
$white: rgb(255, 255, 255) !default;

/// Container's maximum width
/// @type Length
$max-width: 1200px !default;