.footer {
    background-color: $second-color;
    color           : $text-semilight;
    font-size       : 14px;

    .footer-upper {
        padding: 50px 0;

        .footer-menus {
            display        : flex;
            justify-content: space-between;

            .footer-column {
                span {
                    color         : $main-color;
                    text-transform: uppercase;
                    margin-bottom : 10px;
                    font-size: 13px;
                }

                .menu {
                    margin-top: 20px;
                }

                ul {
                    list-style: none;

                    li {
                        padding: 5px 0;

                        a {
                            color      : $text-semilight;
                            font-weight: normal;
                            font-size: 18px;
                        }
                    }
                }
            }


        }
    }

    .footer-lower {
        border-top: 1px solid lighten($color: $second-color, $amount: 5%);
        padding   : 30px 0;

        .inner-footer-lower {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            font-size: 16px;

            .footer-images {
                display    : flex;
                align-items: center;

                .footer-image-wrap {
                    img {
                        width:100%;
                        height: 40px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}