.front-block-inner {
    padding : 125px 0 100px 0;
    position: relative;

    .front-block-wrap {
        width     : 65%;
        margin    : 0 auto;
        text-align: center;

        .front-title {
            color      : $main-color;
            font-weight: 400;
            font-size: 36px;
        }

        .front-intro-text {
            color : $text-semilight;
            margin: 25px auto;
            font-size: 18px;
            font-weight: 400;
            max-width: 70%;
        }

        .front-learn-more {
            color          : $main-color;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin-bottom  : 70px;
            font-size: 18px;
            font-weight: 400;

            i {
                margin: 5px 0px 0 5px;
            }

        }
    }

    .front-categories {
        display        : flex;
        justify-content: center;
        width          : 100%;
        position       : absolute;
        bottom         : -125px;

        .single-category {
            width           : 350px;
            height          : 250px;
            background-color: wheat;
            display         : grid;
            place-content   : center;
            background-size : cover;

            span {
                font-size: 36px;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

// For front page navigation 

.front-page .inner-page-navigation {
    margin-bottom: 50px;

    .page-nav-list {
        list-style-type: none;

        display        : flex;
        justify-content: center;

        li {
            &:not(:last-child) {
                margin-right: 40px;
            }

            a {
                font-weight: 300;
                font-size  : 20px;
            }
        }

    }
}