// REMOVE AFTER
.front-header-block {
    background-color: $second-color;
    background-size : cover;
}


.site-header {
    background-color: transparent;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    padding-top     : 35px;
    z-index         : 100;

    .header-inner {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 0 20px;
    }

    &__logo {
        position: absolute;
        left    : 30px;

        a {
            display: flex;
        }

        img {
            max-width : 200px;
            height    : 50px;
            object-fit: contain;
        }
    }

    &__nav {
        .menu {
            display    : flex;
            align-items: center;
            font-size  : 20px;
        }

        ul {
            list-style-type: none;

            li {
                a {
                    color      : $text-light;
                    font-weight: normal;

                    &:hover {
                        color: $main-color;
                        text-decoration: none;
                    }
                }

                &:not(:last-child) {
                    margin-right: 80px;
                }
            }


        }
    }

    &__profile {
        .profile-inner {
            color    : $text-semilight;
            position : absolute;
            top      : 10px;
            right    : 30px;
            display  : flex;
            font-size: 15px;

            .signin {
                margin: 0 40px;
            }

            .languages {
                span {
                    margin: 0 5px;
                }
            }
        }
    }
}